
.icon {
  width: 7%;


}
#insta_main{
  display: flex;
  flex-direction: column;

}
#insta_main_top{
  /*height: 100px;*/
  margin : 1% 5%;
  /*margin:auto;*/
  display : flex;
  justify-content: space-between;
  align-items : center;
}
#insta_main_top #logo{
  width: 40%;

}

#insta_story_line{

  background-color: whitesmoke;

}

#insta_story_line .story_line_item{
  margin : 2% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

#insta_story_line .story_line_item .items{
  align-items: center;
  /*height: 100px;*/
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
  /*text-align: center;*/
}
#insta_story_line .story_line_item .items > img{
  width: 60%;
  border-radius: 100%;
  border: 0.5vh darkgrey solid;
}
#insta_story_line .story_line_item .items > h1{
  margin : auto;
}


#insta_user_peed_top{
margin : 1% 3%;
  display: flex;
flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
#insta_user_peed_top>img{
  width: 5%;
  height: 5%;

}
#insta_user_peed_top #user{
  display: flex;
  flex-direction: row;
  align-items:center;
}
#insta_user_peed_top #user>img{
  width :11%;
  border-radius: 100%;
  border: solid
}
#insta_user_peed_top #user>h1{
  margin-left: 4%;
}
#insta_user_peed_img{

  display : flex;
  align-items: center;
  justify-content: center;
}
#insta_user_peed_img>img{
  width: 100%;
}
#insta_user_peed_bottom{

}

#insta_main_bottom{
height:10%;
}
